In [26]:
import pandas as pd

In [2]:
data = pd.read_csv("Youtuber.csv")
df = pd.DataFrame(data)
df.describe()

              Rank
count  1045.000000
mean    521.055502
std     298.709262
min       1.000000
25%     262.000000
50%     523.000000
75%     784.000000
max    1000.000000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1046 entries, 0 to 1045
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Rank              1045 non-null   float64
 1   Channel Name      1045 non-null   object
 2   Category          695 non-null    object
 3   Subscribers       1045 non-null   object
 4   Country           853 non-null    object
 5   Average Views     1045 non-null   object
 6   Average Likes     1045 non-null   object
 7   Average Comments  1045 non-null   object
 8   Content Type      335 non-null    object
dtypes: float64(1), object(8)
memory usage: 73.7+ KB

In [4]:
data.head()

,Rank,Channel Name,Category,Subscribers,Country,Average Views,Average Likes,Average Comments,Content Type
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,T-Series,Music & Dance,258.4M,India,135.2K,5.6K,223,NaN
2,2.0,MrBeast,Video games,236.1M,United States,104M,4M,74K,Humor
3,3.0,Cocomelon - Nursery Rhymes,Education,171.4M,NaN,5.1M,57.1K,0,NaN
4,4.0,SET India,NaN,167.1M,India,27.9K,996,7,NaN

In [5]:
df = df.drop([0])

In [6]:
null_mask = df.isnull().any(axis=1)
rows_with_null_any = df[null_mask]
rows_with_null_any

,Rank,Channel Name,Category,Subscribers,Country,Average Views,Average Likes,Average Comments,Content Type
1,1.0,T-Series,Music & Dance,258.4M,India,135.2K,5.6K,223,NaN
3,3.0,Cocomelon - Nursery Rhymes,Education,171.4M,NaN,5.1M,57.1K,0,NaN
4,4.0,SET India,NaN,167.1M,India,27.9K,996,7,NaN
5,5.0,✿ Kids Diana Show,Animation,118.5M,NaN,5.1M,14.3K,0,Toys
6,6.0,Like Nastya,Toys,112.6M,NaN,3.4M,45.9K,0,NaN
...,...,...,...,...,...,...,...,...,...
1040,995.0,Little Baby Bum en Español,NaN,12.6M,NaN,21K,45,0,NaN
1041,996.0,BBC Earth,NaN,12.5M,United States,80.3K,1.7K,79,NaN
1043,998.0,janin al chair,NaN,12.5M,Mexico,1.4M,146.1K,485,NaN
1044,999.0,Myke Towers,Music & Dance,12.5M,Colombia,8.3K,485,8,NaN
1045,1000.0,HikakinTV,Humor,12.5M,Japan,703.2K,25.3K,312,NaN

In [7]:
null_counts = {}
for column in df.columns:
    null_counts[column] = df[column].isnull().sum()

null_counts

{'Rank': 0,
 'Channel Name': 0,
 'Category': 350,
 'Subscribers': 0,
 'Country': 192,
 'Average Views': 0,
 'Average Likes': 0,
 'Average Comments': 0,
 'Content Type': 710}

In [8]:
df["Content Type"].unique()

array([nan, 'Humor', 'Toys', 'Video games', 'Animation', 'Movies',
       'Health & Self Help', 'Fashion', 'Autos & Vehicles', 'Beauty',
       'Food & Drinks'], dtype=object)

In [9]:
df["Category"].unique()

array(['Music & Dance', 'Video games', 'Education', nan, 'Animation',
       'Toys', 'Movies', 'News & Politics', 'Daily vlogs', 'Travel',
       'Fitness', 'Beauty', 'Humor', 'Food & Drinks', 'Design/art',
       'Sports', 'Science & Technology', 'Health & Self Help',
       'DIY & Life Hacks', 'ASMR', 'Autos & Vehicles', 'Animals & Pets',
       'Fashion', 'Mystery'], dtype=object)

In [11]:
condition = df['Category'].isnull() & df['Content Type'].notnull()
filtered_df = df[condition]
filtered_df

Empty DataFrame
Columns: [Rank, Channel Name, Category, Subscribers, Country, Average Views, Average Likes, Average Comments, Content Type]
Index: []

In [13]:
duplicated_rows = df[df.duplicated(subset='Rank', keep=False)]
duplicated_rows

,Rank,Channel Name,Category,Subscribers,Country,Average Views,Average Likes,Average Comments,Content Type
952,952.0,Timba Vk,Animation,12.8M,Mexico,1.3M,29.5K,703,Video games
954,954.0,Heidi and Zidane Kids Fun,Animation,12.8M,NaN,61.5K,1K,0,Toys
958,958.0,#Refúgio Mental,Movies,12.8M,Brazil,266.4K,4.7K,96,Animation
959,959.0,Ellie Goulding,Music & Dance,12.8M,United States,39.4K,2.1K,162,NaN
960,960.0,YoSoyPlex,Movies,12.8M,Spain,2.1M,120.6K,5.9K,Video games
...,...,...,...,...,...,...,...,...,...
1041,996.0,BBC Earth,NaN,12.5M,United States,80.3K,1.7K,79,NaN
1042,997.0,Jamie Nyland,Animation,12.5M,United States,66.7K,2.5K,104,Humor
1043,998.0,janin al chair,NaN,12.5M,Mexico,1.4M,146.1K,485,NaN
1044,999.0,Myke Towers,Music & Dance,12.5M,Colombia,8.3K,485,8,NaN
1045,1000.0,HikakinTV,Humor,12.5M,Japan,703.2K,25.3K,312,NaN

In [14]:
duplicated_rows = df.loc[df.duplicated(subset='Rank', keep=False),'Rank'].unique()
duplicated_rows

array([ 952.,  954.,  958.,  959.,  960.,  961.,  962.,  963.,  964.,
        965.,  966.,  967.,  968.,  969.,  970.,  971.,  972.,  973.,
        974.,  975.,  976.,  977.,  978.,  979.,  980.,  981.,  982.,
        983.,  984.,  985.,  986.,  987.,  988.,  989.,  990.,  991.,
        992.,  993.,  994.,  995.,  996.,  997.,  998.,  999., 1000.])

In [16]:
df_unique = df.drop_duplicates(subset='Rank', keep='first')
df_unique

,Rank,Channel Name,Category,Subscribers,Country,Average Views,Average Likes,Average Comments,Content Type
1,1.0,T-Series,Music & Dance,258.4M,India,135.2K,5.6K,223,NaN
2,2.0,MrBeast,Video games,236.1M,United States,104M,4M,74K,Humor
3,3.0,Cocomelon - Nursery Rhymes,Education,171.4M,NaN,5.1M,57.1K,0,NaN
4,4.0,SET India,NaN,167.1M,India,27.9K,996,7,NaN
5,5.0,✿ Kids Diana Show,Animation,118.5M,NaN,5.1M,14.3K,0,Toys
...,...,...,...,...,...,...,...,...,...
996,996.0,BBC Earth,NaN,12.5M,United States,80.3K,1.7K,79,NaN
997,997.0,Jamie Nyland,Animation,12.5M,United States,66.7K,2.5K,104,Humor
998,998.0,janin al chair,NaN,12.5M,Mexico,1.4M,146.1K,485,NaN
999,999.0,Myke Towers,Music & Dance,12.5M,Colombia,8.3K,485,8,NaN
1000,1000.0,HikakinTV,Humor,12.5M,Japan,703.2K,25.3K,312,NaN

In [18]:
null_counts_unique = {}
for column in df_unique.columns:
    null_counts_unique[column] = df_unique[column].isnull().sum()

null_counts_unique

{'Rank': 0,
 'Channel Name': 0,
 'Category': 335,
 'Subscribers': 0,
 'Country': 183,
 'Average Views': 0,
 'Average Likes': 0,
 'Average Comments': 0,
 'Content Type': 677}

In [17]:
df_clean = df_unique.drop('Content Type', axis=1)
df_clean

,Rank,Channel Name,Category,Subscribers,Country,Average Views,Average Likes,Average Comments
1,1.0,T-Series,Music & Dance,258.4M,India,135.2K,5.6K,223
2,2.0,MrBeast,Video games,236.1M,United States,104M,4M,74K
3,3.0,Cocomelon - Nursery Rhymes,Education,171.4M,NaN,5.1M,57.1K,0
4,4.0,SET India,NaN,167.1M,India,27.9K,996,7
5,5.0,✿ Kids Diana Show,Animation,118.5M,NaN,5.1M,14.3K,0
...,...,...,...,...,...,...,...,...
996,996.0,BBC Earth,NaN,12.5M,United States,80.3K,1.7K,79
997,997.0,Jamie Nyland,Animation,12.5M,United States,66.7K,2.5K,104
998,998.0,janin al chair,NaN,12.5M,Mexico,1.4M,146.1K,485
999,999.0,Myke Towers,Music & Dance,12.5M,Colombia,8.3K,485,8
1000,1000.0,HikakinTV,Humor,12.5M,Japan,703.2K,25.3K,312

In [25]:
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
df = df_clean
df

,Rank,Channel Name,Category,Subscribers,Country,Average Views,Average Likes,Average Comments
1,1.0,T-Series,Music & Dance,258400000.0,India,135200.0,5600.0,223.0
2,2.0,MrBeast,Video games,236100000.0,United States,104000000.0,4000000.0,74000.0
3,3.0,Cocomelon - Nursery Rhymes,Education,171400000.0,NaN,5100000.0,57100.0,0.0
4,4.0,SET India,NaN,167100000.0,India,27900.0,996.0,7.0
5,5.0,✿ Kids Diana Show,Animation,118500000.0,NaN,5100000.0,14300.0,0.0
...,...,...,...,...,...,...,...,...
996,996.0,BBC Earth,NaN,12500000.0,United States,80300.0,1700.0,79.0
997,997.0,Jamie Nyland,Animation,12500000.0,United States,66700.0,2500.0,104.0
998,998.0,janin al chair,NaN,12500000.0,Mexico,1400000.0,146100.0,485.0
999,999.0,Myke Towers,Music & Dance,12500000.0,Colombia,8300.0,485.0,8.0
1000,1000.0,HikakinTV,Humor,12500000.0,Japan,703200.0,25300.0,312.0

In [29]:
def convert_to_numerical(value):
    if pd.isnull(value):
        return None
    if 'M' in value:
        return float(value.replace('M', '')) * 1_000_000
    elif 'K' in value:
        return float(value.replace('K', '')) * 1_000
    else:
        return float(value)

columns_to_convert = ['Subscribers', 'Average Views', 'Average Likes', 'Average Comments']
for column in columns_to_convert:
    df[column] = df[column].apply(convert_to_numerical)

df

TypeError: argument of type 'float' is not iterable